.event{
	padding: 2rem;
	display:block;
	/* grid-column:2 / 2 ; */
	
	 margin:0 auto 0 auto; 
	 max-width:80rem;  
	 border-width: 0 0 0.05rem 0;
	border-style: dashed;
	border-color: var(--logo-mean);
}
.event:last-child{
	border-bottom-width: 0;
} 
.eventTitle{
	margin: 0 3rem 1rem 3rem;
	padding: 0.5rem;
	font-weight: normal;
	/* background-color: var(--site-black);
	color: var(--site-white); */
	/* border-color: var(--content-block-logo-op); */
	border-style: solid;
	border-width: 0 0 0.1rem 0;
	font-size: 1.5rem;
	text-align: center;
}

div>div>.eventTitle{
	border-color:var(--logo-blue)
}
div:nth-child(2n)>div>.eventTitle{
	border-color:var(--logo-pink)
}

.eventTypeBox{
	padding: 0.5rem;
	margin: 0 0 0.5rem 0;
	width: max-content;
	background-color: var(--site-black);
	color: var(--site-white);
}
.eventTypeBoxVirtual{
	color: var(--logo-blue);
}
.eventAdditionalTimes{
	padding: 0.5rem 0.5rem 0.5rem 0 ;
	margin:0.5rem 0;
	/* color: var(--link-color); */
	width: max-content;
	/* background-color: var(--light-blue); */
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--logo-mean);
	transition: border-color 0.5s;
	border-radius: 0.5rem;
	transition: background-color 1s, color 1s;
}


.eventAdditionalTimes::before{
	padding: 0 0.5rem;
	font-family: monospace;
	font-size:1.1rem;
	content:'+';
	font-weight: bold;
	
}

details[open] .eventAdditionalTimes::before{
	content:'-';
	
}

.eventButtonMobilizeSignUp{
	background-color: var(--logo-blue);
	/* color: var(--logo-blue); */
	padding: 1rem;
	font-size: 1.2rem;
	display: block;
	margin:3rem 0 0 0;
	border-width: 0;
	outline: none;
	outline-width: 0.1rem;
	outline-style: solid;
	outline-color: transparent;
	/* box-shadow: 0rem 0rem 0 0 var(--logo-blue), 0rem 0rem 0 0 var(--logo-pink); */
	/* transform: rotateZ(20deg); */
	/* transition: margin 0.5s ;
	transition-delay: 0.5s; */
	transition: background-color 0.8s;
}
.eventButtonMobilizeSignUp:hover{
	background-color: var(--darken-blue);
}

.eventQuickCalander{
	position:sticky;
	bottom:2rem;
	/* bottom:2rem;
	/* margin-left: 2rem;
	margin-top: 2rem; */
	/* background-color: lavender;
	padding: 2rem;  */
	/* width:max-content; */
	width:max-content;
	
	
}

.eventQuickCalanderButton{
	background-color:lightgreen;
	/* margin:2rem 2rem; */
	border-width: 0;
	font-size: 1rem;
	padding: 1rem;
	margin-left: 2rem;
	margin-top: 2rem;
	display: block;
}
.eventQuickCalanderButtonEnter{
	transform:translateX(-100vw);
}
.eventQuickCalanderButtonEnterActive{
	transform:translateX(0);
	transition: transform 500ms;
}

.eventQuickCalanderButtonExit{
	transform:translateY(0);
	
}

.eventQuickCalanderButtonExitActive{
	transform:translateY(100vh);
	transition: transform 500ms;
}

.eventQuickMonthCloseButton{
	width: 100%;
	font-size: 1rem;
	background-color: var(--logo-pink);
	padding: 1rem;
}


.eventQuickMonthButtonRow{
	display: grid;
	grid-template-columns: 50% 50%;
}
.eventQuickMonthButton{
	border-width: 0;
	margin:0.5rem;
	font-size: 1rem;
	padding: 0.5rem;
	background-color: rgb(159, 45, 235);
	
}
.eventQuickMonthTitle{
	padding: 0.2rem;
	text-align: center;
	/* height: 10rem; */
	border-spacing: 0;
	/* border-style: solid;
	border-width: 0.05rem;
	border-color: red; */
	
}
.eventQuickMonthBlock{
	width: max-content;
	margin-left:2rem;
	background-color: rgb(38, 186, 231);
}

.eventQuickMonthBlockEnter{
	transform:translateX(-100vw);
}
.eventQuickMonthBlockEnterActive{
	transform:translateX(0);
	transition: transform 500ms;
	/* transition-delay: 600ms; */
}
.eventQuickMonthBlockExit{
	transform:translateX(0);
}
.eventQuickMonthBlockExitActive{
	transform:translateX(-100vw);
	transition: transform 500ms;
}


.eventQuickMonth{
	
	
	/* height: 10rem; */
	border-spacing: 0;
	/* border-style: solid;
	border-width: 0.05rem;
	border-color: red; */
	
}


.eventQuickMonth td{
	margin: 0;
	padding: 0.5rem;
	text-align: center;
	background-color: rgb(116, 240, 123);
	/* border-style: solid;
	border-width: 0.05rem;
	border-color: red; */
	border-style: solid;
	border-width: 0 0 0.1rem 0;
	border-color: rgb(14, 77, 17);
	
}
.eventQuickMonth td:nth-child(2n){

	background-color: rgb(137, 226, 65);
	/* border-style: solid;
	border-width: 0.05rem;
	border-color: red; */
	
}

.dayPreview{
	
	position: fixed;
	
	/* top:0%; */
	
	/* transform:translateY(calc( -100% - 0.5rem )) ;
	transform-origin: 100% 100%; */
	pointer-events: none;

	padding: 2rem;
	background-color:rgb(92, 180, 252);

	transition: display 0s, opacity 0.5s;

}


.dayPreviewDay{

	text-align: center;
	
	font-weight: bold;
	border-bottom: red 0.01rem solid;
	padding: 0.5rem;
	margin:0 0 0.5rem 0;
	color: rgb(33, 4, 87);
}