.popupBackDrop{
	/* position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color: rgba(0,0,0,0.5); */

	top:0;
	left:0;
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(var(--site-white-red),var(--site-white-green),var(--site-white-blue),0.5);;
	backdrop-filter: blur(1rem);
	z-index:900000000;
}

.popupBackDropEnter{

	opacity:0;
}

.popupBackDropEnterActive{
	opacity:1;

	transition:opacity 0.5s;
}
.popupBackDropExit{
	
	opacity:1;
	
}

.popupBackDropExitActive{
	opacity:0;
	transition:opacity 0.5s;
}

.popup{
	/* position:fixed;
	top:25vh;
	left:25vw;
	width:50vw;
	height:50vh;
	background-color: lawngreen; */
	z-index:900000001;
	border-width: 0;
	top:0;
	/* left:3rem; */
	left:0;
	position:fixed;
	/* width:calc(100vw - 6rem); */
	width:100vw;
	/* height:calc(90vh - 6rem); */
	height: calc(100vh - 2rem);
	height:100%;
	background-color: rgb(255,255,255);
	transition:top 0.3s,left 0.3s, width 0.3s,height 0.3s;
	transform-origin: 50% 50%;
	overflow: none;
}
.popupMax{
	top:0;
	left:0;
	width:100vw;
	height:90vh;
}
.popupContent{
	height:calc( 100% - 3.5rem);
}


.popupEnter{
	
	transform:translateY(-100vh) scale(0) ;
}

.popupEnterActive{
	transform: translateY(0)  scale(1);
	transition:transform 500ms linear,filter 500ms linear ;
}
.popupExit{
	
	transform:translateX(0)  scale(1);
	
}

.popupExitActive{
	transform:translateY(100vh)  scale(0);
	
	transition:transform 500ms;
}




.titleBar{
	background-color: black;
}
.close{
	background-color:var(--logo-pink);
	color:white;
	font-size: 1.5rem;
	border-width: 0;
	width: 100%;
	padding: 1rem;
}
.max{
	background-color: blue;
	color:white;
}